body, html {
    height: 100%;
}


body {
    font-family: 'Mali', cursive;
}


.navbar {
    background-color: #c50e0e;
    background-size: contain;
}


.about{
    background-image: url("images/bckgrnd-white.png");
    background-size: contain;
    background-repeat: repeat;
}

.story {
    background-color: white;
    opacity: 0.95;
    color: black;
}



.truck {
    background-image: url("images/map.png");
    background-size: cover;
    color: #c50e0e;
}

.where {
    color: #c50e0e;
}

/*.truck{*/
/*    background-color: black;*/
/*    opacity: 0.75;*/
/*    color: white;*/
/*}*/

.burger {
    background-color: #c50e0e;
}


.menu {
    background-image: url("images/giphys/flames1.gif");
    background-size: cover;
    color: #c50e0e;
}

.skillet {
    background-color: black;
}

.mac {
    background-color: black;
}




.hire{
    background-color: black;
}



/*Where's the Truck?'*/
.slide {
    overflow-x: hidden;
}

.hi-slide {
    position: center;
    width: 754px;
    height: 400px;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}









.contact-us {
    background-color: #c50e0e;
    color: black;
}
