
body {
    font-family: 'Comic Neue', cursive;
}

.navbar {
    /* The image used */
    background-color: #c50e0e;
    background-size: contain;
}


.menu {
    background-image: url('images/menu/blackboard-texture.jpg');
    color: ghostwhite;
}



.truck-container {
    color: ghostwhite;
}




img{
max-width: 100%;
}
.gallery{
    padding: 80px 0;
}
.gallery img{
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

#gallery-modal .modal-img{
    width: 100%;
}

.section-3 {
    background-image: image(red);
}