body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("images/bckgrnd-black.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




body {
    font-family: 'Mali', cursive;
}

/*body {*/
/*    font-family: 'Caveat Brush', cursive;*/
/*}*/

.navbar {
    /* The image used */
    background-color: #c50e0e;
    background-size: contain;
}


.about{
    background-image: url("images/bckgrnd-white.png");
    background-size: contain;
    background-repeat: repeat;
}

.story {
    background-color: white;
    opacity: 0.95;
    color: black;
}



.truck {
    background-image: url("images/bckgrnd-black.png");
    background-size: contain;
    background-repeat: unset;
}

.where{
    background-color: #FFD131;
    color: black;
}

.burger {
    background-color: #c50e0e;
}


.menu {
    background-color: black;
    color: #c50e0e;
}

.menu-text {
    color: #c50e0e;
}

.mac {
    background-color: black;
}





.truck-container {
    background-image: url("images/bckgrnd-black.png");
    background-size: contain;
    color: ghostwhite;
}

.hire{
    background-color: black;
}



/*Where's the Truck?'*/
.slide {
    overflow-x: hidden;
}

.hi-slide {
    position: relative;
    width: 754px;
    height: 400px;
    margin: 115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}









.contact-us {
    background-color: #c50e0e;
    color: black;
}
